.newsBody {
  display: flex;
}

.imgContainer {
  height: 200px;
}

img {
  max-height: 100%;
  width: auto;
}

.newsDescription {
  padding-left: 20px;
  text-indent: 20px;
}

.news-hr {
  margin-top: 20px;
  border-top: 1px dashed;
}
